<!--/*
 * @作者：AMEN
 * @官网：https://www.ymypay.cn/
 * @博客：https://blog.ymypay.cn/
 * 湮灭网络工作室
 */-->
<!--第一页 - 首页-HTML页面-->
<div id="nav01">
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators" id="hero-carousel-indicators">
                    <li data-target="#heroCarousel" data-slide-to="0" class=""></li><li data-target="#heroCarousel" data-slide-to="1" class="active"></li><li data-target="#heroCarousel" data-slide-to="2" class=""></li></ol>
                <div class="carousel-inner" role="listbox">
                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background-image: url(&quot;{{__images__}}background.png&quot;);">

                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown"><span>{{gzs}}</span></h2>
                                <p class="animate__animated animate__fadeInUp">
                                    {{my}}            </p>

                                <a href="" class="btn-get-started animate__animated animate__fadeInUp scrollto cleft_li02" one-link-mark="yes">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background-image: url(&quot;{{__images__}}background.png&quot;);">

                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">成员查询</h2>
                                <p class="animate__animated animate__fadeInUp">
                                    你想知道谁才是我们的成员吗？赶紧来查一下吧~            </p>
                                <a href="" id="Query" class="btn-get-started animate__animated animate__fadeInUp scrollto" one-link-mark="yes">Member Query</a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 3 -->
                    <div class="carousel-item" style="background-image: url(&quot;{{__images__}}background.png&quot;);">

                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">加入我们</h2>
                                <p class="animate__animated animate__fadeInUp">
                                    点击下方按钮<br>即可立即申请加入！！！            </p>
                                <a href="" id="Join" class="btn-get-started animate__animated animate__fadeInUp scrollto" one-link-mark="yes">Apply to join</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="" role="button" data-slide="prev" one-link-mark="yes">
                    <span class="carousel-control-prev-icon icofont-thin-double-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="" role="button" data-slide="next" one-link-mark="yes">
                    <span class="carousel-control-next-icon icofont-thin-double-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
<!--    <div class="nav01_left">-->
<!--        <div class="nav01_logo">-->
<!--            <img src="{{__images__}}cnm.sb_logo.svg" />-->
<!--            <h4>湮灭<span>网络工作室</span></h4>-->
<!--        </div>-->
<!--        <div class="nav01_wz">-->
<!--            <h5>初次见面，正在人间奋斗的你！</h5>-->
<!--            <h1>欢迎来到</h1>-->
<!--            <h4>湮灭网络工作室</h4>-->
<!--            <h3>程|序 &nbsp;完|美|定|制</h3>-->
<!--            <div class="bar"></div>-->
<!--        </div>-->
<!--        <div class="nav01_but">-->
<!--            <div class="nav01_but01">探索</div>-->
<!--            <div class="nav01_but02">商业合作</div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="nav01_right">-->
<!--        <div class="nav01_tpw">-->
<!--            <h3>AMEN是一位酷酷的站长</h3>-->
<!--            <p>me a hard working hacker</p>-->
<!--        </div>-->
<!--        <div class="nav01_fpw">-->
<!--            <p>愿成长- 不负众望</p>-->
<!--        </div>-->
<!--    </div>-->
    <!-- 版权信息，可修改,可删除,不强求 -->
<!--    <div class="nav01_fooder">版权所有 湮灭网络工作室 &nbsp;&nbsp;|&nbsp;&nbsp; 备案号:粤ICP备2021055929号-1-->
<!--        &nbsp;&nbsp;|&nbsp;&nbsp; © 2020-2021 湮灭网络工作室 All Copyright Reserved</div>-->
</div>