{{header}}
加载页面中，请稍后
{{ip}}
<body>
    <div id="content">
        {{navigationBar}}
        <!-- 内容左侧选择区域 -->
<!--        <main id="main">-->
            <div id="cright">
                {{home}}
                {{about}}
                {{service}}
                {{project}}
                {{team}}
                {{merchantCooperation}}
                {{contact}}
            </div>
<!--        </main>-->
        <!-- 入场动画 -->
        <div id="etext">加载静态文件中，请稍后</div>

        <!-- 背景图片+背景灰度 -->
        <div id="ebg"></div>
        <div id="ebga"></div>

        <!-- 背景飘落 -->
        <div id="xuna"></div>

{{top}}