{{header}}
{{ip}}
<body>
    <div id="content">
        {{navigationBar}}
        <!-- 内容左侧选择区域 -->
<!--        <main id="main">-->
            <div id="cright">
                {{home}}
                {{about}}
                {{service}}
                {{project}}
                {{team}}
                {{merchantCooperation}}
                {{contact}}
            </div>
<!--        </main>-->
            <!-- 入场动画 -->
        <div id="etext"></div>

        <!-- 背景图片+背景灰度 -->
        <div id="ebg"></div>
        <div id="ebga"></div>

        <!-- 背景飘落 -->
        <div id="xuna"></div>
        <script src="{{__javascripts__}}cnm.sb_bg.js"></script>
{{top}}