<!--/*
 * @作者：AMEN
 * @官网：https://www.ymypay.cn/
 * @博客：https://blog.ymypay.cn/
 * 湮灭网络工作室
 */-->
<!-- 内容左侧选择区域 -->
<ul id="cleft">
    <div class="cleft_top">
        <div class="cleft_topbg">
            <div class="cleftbg_img"><img src="{{__images__}}tx.jpg" alt="头像"></div>
        </div>
        <div class="cleftbg_p">要每天都有好心情吖~</div>
    </div>
    <li id="cleft_li01" style="background-color: #ececec;"><img src="{{__fonts__}}cnmsb01.png" /><span>官网首页</span>
    </li>
    <li id="cleft_li02"><img src="{{__fonts__}}cnmsb02.png" /><span>关于团队</span></li>
    <li id="cleft_li03"><img src="{{__fonts__}}cnmsb03.png" /><span>团队服务</span></li>
    <li id="cleft_li05"><img src="{{__fonts__}}cnmsb05.png" /><span>项目展示</span></li>
    <li id="cleft_li07"><img src="{{__fonts__}}cnmsb03.png" /><span>团队成员</span></li>
    <li id="cleft_li04"><img src="{{__fonts__}}cnmsb04.png" /><span>商务合作</span></li>
    <li id="cleft_li08"><img src="{{__fonts__}}cnmsb01.png" /><span>联系</span></li>
    <li id="cleft_li06" onclick="AddFavorite('{{gzs}}',location.href)"><img
            src="{{__fonts__}}cnmsb06.png" /><span>收藏页面</span></li>
    <div class="nav01_fooder">
        <p>版权所有 湮灭网络工作室</p>
        <a href="http://beian.miit.gov.cn/" one-link-mark="yes">备案号:粤ICP备2021055929号-1</a>
        <p>© 2020-2021 湮灭网络工作室 All Copyright Reserved</p>
    </div>
<!--     <li class="cleft_bottom"><img src="font/nav_bottom.png"><span>宽度设置</span></li>-->
</ul>