<!--/*
 * @作者：AMEN
 * @官网：https://www.ymypay.cn/
 * @博客：https://blog.ymypay.cn/
 * 湮灭网络工作室
 */-->
<div id="nav07">
  <div class="nav05_top">
    <div class="nav05_topbgkj">
      <div class="nav05_top_bg"></div>
      <div class="nav05_top_tx01"></div>
      <div class="nav05_top_tx02"></div>
    </div>
    <div class="nav05_top_fj"><img src="{{__images__}}nav05_fj.png" alt="△"></div>
  </div>
  <section id="team" class="team">
    <div class="container">
      <div class="section-title">
        <h2>Team</h2>
        <p>
          我们是黑暗中照亮书本的明灯，光明下抒写思绪的墨笔。
        </p>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member">
            <img src="https://q1.qlogo.cn/g?b=qq&amp;nk=1045967674&amp;s=640" class="img-fluid" alt="member
		">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Mr.BeiYu            </h4>
                <span>QQ：1045967674            <br>
            团队创始人<br>Web前端基础开发工程师<br>许愿云互联<br>许愿EP分稍<br>许愿的Blog<br>许愿数据总客服            </span>
<!--                超过一定的文字要换行，总长度不超过xx-->
              </div>
              <div class="social">
                <a href="https://wpa.qq.com/msgrd?v=3&amp;uin=1045967674&amp;site=qq&amp;menu=yes" class="QQ" one-link-mark="yes"><i class="NanFeng Icon-QQ" style="font-size: 24px;"></i></a>
                <a href="" class="weixin" one-link-mark="yes"><i class="NanFeng Icon-weixin" style="font-size: 24px;"></i></a>
                <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=1045967674@qq.com" class="youxiang" one-link-mark="yes"><i class="NanFeng Icon-youxiang" style="font-size: 24px;"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>