<!--/*
 * @作者：AMEN
 * @官网：https://www.ymypay.cn/
 * @博客：https://blog.ymypay.cn/
 * 湮灭网络工作室
 */-->
<!--<p id="eixp">当你在凝视深渊的时候，深渊也正在凝视着你！</p>-->
<!--<script src="{{__javascripts__}}jquery.min.js"></script>-->
<script src="{{__javascripts__}}bootstrap.bundle.min.js"></script>
<script src="{{__javascripts__}}jquery.easing.min.js"></script>
<script src="{{__javascripts__}}validate.js"></script>
<script src="{{__javascripts__}}jquery.sticky.js"></script>
<script src="{{__javascripts__}}jquery.waypoints.min.js"></script>
<script src="{{__javascripts__}}counterup.min.js"></script>
<script src="{{__javascripts__}}isotope.pkgd.min.js"></script>
<script src="{{__javascripts__}}owl.carousel.min.js"></script>
<script src="{{__javascripts__}}venobox.min.js"></script>
<script src="{{__javascripts__}}main.js"></script>
<script src="{{__javascripts__}}amen.js"></script>
<script src="{{__javascripts__}}layer.js"></script>
<script src="{{__javascripts__}}cnm.sb_bg.js"></script>
<script>
    $(document).ready(function(){
        layer.alert("网站正在开发建设中，现前端已完成，涉及后端部分正在开发中。如遇到某些BUG，无需理会，刷新即可")
    })
</script>
</body>

</html>